[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/nouns-monorepo"]
	path = lib/nouns-monorepo
	url = https://github.com/nounsDAO/nouns-monorepo
